.App {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.book-list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.book {
  margin: 1em;
  max-width: 30%;

}

.book h2 {
  text-align: start;

}

.book a {
  text-decoration: none;

}

.book_description {
  text-align: justify;
}

.checkbox {
  text-align: start;
  margin: 1em 0;
}